@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    #1b2316;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background {
  background-image: url("../assets/GrassBG.png");
  background-size: cover;
  background-position: center; /* Center the image */
  width: 100%;
  height: 260vh; /* Ensure the container takes the full viewport height */
  background-repeat: no-repeat;
  padding: 6em;
}

.glass-effect {
  border: 1px solid rgba(255, 255, 255, 0.279);
  /* width: fit-content; */
  background: rgba(255, 255, 255, 0.121);
  border-radius: 35px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
}



